<p>
<!-- Include the Google Friend Connect javascript library. -->
<script type="text/javascript" src="http://www.google.com/friendconnect/script/friendconnect.js"></script>
<!-- Define the div tag where the gadget will be inserted. -->
<div id="div-8315878010854307061" style="width:185px;border:1px solid #E5F0FB;"></div>
<!-- Render the gadget into a div. -->
<script type="text/javascript">
var skin = {};
skin['BORDER_COLOR'] = '#E5F0FB';
skin['ENDCAP_BG_COLOR'] = '#E5F0FB';
skin['ENDCAP_TEXT_COLOR'] = '#333333';
skin['ENDCAP_LINK_COLOR'] = '#0000cc';
skin['ALTERNATE_BG_COLOR'] = '#ffffff';
skin['CONTENT_BG_COLOR'] = '#ffffff';
skin['CONTENT_LINK_COLOR'] = '#0000cc';
skin['CONTENT_TEXT_COLOR'] = '#333333';
skin['CONTENT_SECONDARY_LINK_COLOR'] = '#7777cc';
skin['CONTENT_SECONDARY_TEXT_COLOR'] = '#666666';
skin['CONTENT_HEADLINE_COLOR'] = '#333333';
skin['DEFAULT_COMMENT_TEXT'] = '- \u8acb\u5728\u6b64\u7559\u8a00 -';
skin['HEADER_TEXT'] = '\u559c\u6b61\u9019\u500b\u8ce3\u5834';
skin['POSTS_PER_PAGE'] = '5';
google.friendconnect.container.setParentUrl('/' /* location of rpc_relay.html and canvas.html */);
google.friendconnect.container.renderReviewGadget(
 { id: 'div-8315878010854307061',
   site: '17693732604988359118',
   'view-params':{"disableMinMax":"false","scope":"SITE","startMaximized":"true"}
 },
  skin);
</script>
</p>

<p>
<script type="text/javascript"><!--
google_ad_client = "pub-8119001288133941";
/* 160x600, ¤w«Ø¥ß 2010/2/12 */
google_ad_slot = "1789569025";
google_ad_width = 160;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</p>