{% extends "layout.html" %}

{% block content %}
	<form name="input" action="positional_notation" method="post">
		<label>Binary : </label>
		<input type="text" name="binary" />
		<input type="submit" value="Submit" />
	</form>
	<form name="input" action="positional_notation" method="post">
		<label>Octal : </label>
		<input type="text" name="octal" />
		<input type="submit" value="Submit" />
	</form> 
	<form name="input" action="positional_notation" method="post">
		<label>Decimal : </label>
		<input type="text" name="decimal" />
		<input type="submit" value="Submit" />
	</form> 
	<form name="input" action="positional_notation" method="post">
		<label>Hexadecimal : </label>
		<input type="text" name="hexadecimal" />
		<input type="submit" value="Submit" />
	</form> 
	<p>Ref : <a href="http://en.wikipedia.org/wiki/Positional_notation">http://en.wikipedia.org/wiki/Positional_notation</a> </p>
{% endblock%}