{% extends "layout.html" %}

{% block content %}
<table border="0">
  <thead>
  </thead>
  <tbody>
    <tr>
		<form name="input" action="positional_notation" method="post">
      		<td><label>Binary : </label></td>
      		<td><input type="text" name="binary" /></td>
      		<td><input type="submit" value="Submit" /></td>
		</form>
    </tr>
    <tr>
		<form name="input" action="positional_notation" method="post">
      		<td><label>Octal : </label></td>
      		<td><input type="text" name="octal" /></td>
      		<td><input type="submit" value="Submit" /></td>
		</form>
    </tr>
	<tr>
		<form name="input" action="positional_notation" method="post">
      		<td><label>Decimal : </label></td>
      		<td><input type="text" name="decimal" /></td>
      		<td><input type="submit" value="Submit" /></td>
		</form>
    </tr>
	<tr>
		<form name="input" action="positional_notation" method="post">
      		<td><label>Hexadecimal : </label></td>
      		<td><input type="text" name="hexadecimal" /></td>
      		<td><input type="submit" value="Submit" /></td>
		</form>
    </tr>
  </tbody>
  <tfoot>
  </tfoot>
</table>

{% endblock%}